@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  overflow: hidden;
}

body{
  perspective: 1px;
  perspective-origin: top;
  overflow-y: auto;
  scroll-behavior: smooth;
  font: normal 14px/1.4 'Roboto', sans-serif;
}

body::after{
  /* nasty Edge hack for parallax: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/5084491/ */
  content: "";
  position: fixed;
  width: 1px;
  height: 1px;
  z-index: 1;
}

header,
main{
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 24px;
}

header::before,
main::before{
  /* full width bg within limited width container */
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(-50vw + 50%);
}

header{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translateZ(-1px) scale(2);
  transform-origin: top;
  z-index: -1;
}

header::before{
  background: linear-gradient(135deg, #a59595, #211731);
  z-index: -1;
}

header .logo{
  width: 200px;
}

header nav{
  flex: 1;
  text-align: right;
}

main::before{
  background: white;
  box-shadow: 0 -8px 8px -8px black;
  z-index: -1;
}

h1{
  font: normal 30px/1.2 'Oswald', sans-serif;
  padding: 24px 0;
}

p{
  text-align: justify;
  color: gray;
}

a{
  color: #efe8df;
  text-decoration: none;
  padding: 6px 12px;
  white-space: nowrap;
}
